{% assign active_class = 'bg-primary/5 text-primary' %}

<nav class="px-4">
  <ul class="space-y-0.5 text-sm text-muted-foreground font-semibold">
    <!-- Home -->
    <li class="{% if page.url == '/' %}{{ active_class }}{% endif %} nav-item">
      <a href="{{ '/' | relative_url }}" class="nav-link">
        {% include components/shared/icon.html name="home" %}
        <span>{{ 'sidebar.home' | t | upcase }}</span>
      </a>
    </li>

    <!-- About -->
    <li class="{% if page.url contains '/about' %}{{ active_class }}{% endif %} nav-item">
      <a class="nav-link" href="{{ '/about' | relative_url }}">
        {% include components/shared/icon.html name="information-circle" %}
        <span>{{ 'sidebar.about' | t | upcase }}</span>
      </a>
    </li>

    <!-- Categories -->
    {% capture category_class %}
      {% if page.url contains '/categories/' or page.url contains '/posts/' %}
        {{ active_class }}
      {% endif %}
    {% endcapture %}

    <li class="nav-item rounded-xl {{ category_class }}">
      <a href="{{ '/categories' | relative_url }}" class="nav-link" id="categories-header">
        <button
          class="btn btn-link"
          aria-label="Collapse categories"
          aria-expanded="false"
          aria-controls="categories-content"
        >
          {% include components/shared/icon.html name="folder" %}
        </button>
        <span>{{ 'sidebar.categories' | t | upcase }}</span>
      </a>

      {% include components/sidebar/category-tree.html %}
    </li>

    <!-- Tags -->
    <li class="{% if page.url contains '/tags' %}{{ active_class }}{% endif %}  nav-item">
      <a
        href="{{ '/tags' | relative_url }}"
        class="nav-link"
      >
        {% include components/shared/icon.html name="tag" %}
        <span>{{ 'sidebar.tags' | t | upcase }}</span>
      </a>
      <ul></ul>
    </li>

    <!-- archives -->
    <li class="{% if page.url contains '/archives' %}{{ active_class }}{% endif %} nav-item">
      <a href="{{ '/archives' | relative_url }}" class="nav-link">
        {% include components/shared/icon.html name="archive-box" %}
        <span>{{ 'sidebar.archives' | t | upcase }}</span>
      </a>
      <ul>
        {{ site.archives }}
      </ul>
    </li>
  </ul>
</nav>
