<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="description" content="{{ page.description | default: site.description }}">

  <!-- Page title and SEO -->
  <title>
    {% if page.title %}
      {{ page.title }} | {{ site.title -}}
    {%- else -%}
      {{- site.title }}
    {% endif %}
  </title>

  <!-- Canonical URL -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

  <!-- Common Styles -->
  <link rel="stylesheet" href="{{ 'assets/dist/css/styles.css' | relative_url }}">
</head>
