<header
  id="header"
  class="
    {% if site.appearance.sidebar_position == 'left' %}
      sm:ml-72 sidebar-collapsed:sm:ml-0
    {% else %}
      sm:mr-72 sidebar-collapsed:sm:mr-0
    {% endif %} header fixed top-0 left-0 right-0 h-14 z-30
  "
>
  <div class="flex items-center justify-between h-full container">
    <!-- Left Side: Toggle & -->
    <div class="flex items-center space-x-2">
      <button id="sidebar-toggle" class="size-8 btn btn-ghost" aria-label="Sidebar toggle">
        {% include components/shared/icon.html type="custom" name="sidebar-layout" %}
      </button>
      <a href="/" class="text-lg font-semibold">{{ site.title | capitalize }}</a>
    </div>

    <!-- Right Side: Search & Theme Toggle -->
    <div class="flex items-center space-x-2">
      <!-- Search Button -->
      {% if site.features.site_search %}
        <button class="bg-muted px-3 py-1 h-8 rounded-full" aria-label="Search button">
          {% include components/shared/icon.html name="magnifying-glass" class="size-4 mr-1" %}
          <kbd class="font-mono text-xs/4 text-gray-500 dark:text-gray-400 [.os-macos_&amp;]:block">⌘K</kbd>
          <kbd class="hidden font-sans text-xs/4 text-gray-500 not-[.os-macos_&amp;]:block dark:text-gray-400"
            >Ctrl&nbsp;K</kbd
          >
          <span class="text-sm pl-3 text-gray-600 hidden sm:block">{{ 'header.search' | t }}</span>
        </button>
      {% endif %}

      {% include components/header/theme-switch.html %}
    </div>
  </div>
</header>

<!-- Search Modal -->
{% if site.features.site_search %}
  <div
    id="search-modal"
    class="fixed inset-0 z-50 items-center justify-center p-4 bg-foreground/20 backdrop-blur-sm hidden"
  ></div>
{% endif %}

<!-- Space for fixed header -->
<div class="h-14"></div>
