<div class="flex flex-wrap gap-2 justify-center">
  {% for %}
  <div
    class="size-8 bg-background {% if site.social.shape == 'circle' %}rounded-full{% else %}rounded-lg{% endif %}"
  ></div>
  <div
    class="size-8 bg-background {% if site.social.shape == 'circle' %}rounded-full{% else %}rounded-lg{% endif %}"
  ></div>
  <div
    class="size-8 bg-background {% if site.social.shape == 'circle' %}rounded-full{% else %}rounded-lg{% endif %}"
  ></div>
  <div
    class="size-8 bg-background {% if site.social.shape == 'circle' %}rounded-full{% else %}rounded-lg{% endif %}"
  ></div>
  <div
    class="size-8 bg-background {% if site.social.shape == 'circle' %}rounded-full{% else %}rounded-lg{% endif %}"
  ></div>
</div>


