---
layout: compress

# Default layout template
# This is the base layout used by all pages
---
<!doctype html>
<html
  lang="{{ site.locale | default: 'en' }}"
  data-theme="{{ site.theme_mode | default: 'dark' }}"
>
  <head>
    {% include components/head.html %}
  </head>
  <body>
    <!-- Progress bar (displays when scroll_progress is enabled) -->

    <aside
      class="sidebar-container {% if site.theme_settings.sidebar_position == 'right' %}sidebar-right{% else %}sidebar-left{% endif %}"
      data-sidebar-content
    >
      sidebar
    </aside>

    <!-- Main content area -->
    <div class="main-container {% if site.theme_settings.sidebar_position == 'right' %}sm:pr-64{% else %}pl-4 sm:pl-64{% endif %}">
      <!-- Header -->
      <header class="sticky-header">header</header>

      <!-- Content -->
      <main class="bg-red-900 flex-1">
        {{ content }}
      </main>

      <!-- Footer -->
      <footer>This is footer</footer>
    </div>

    <!-- Scripts -->
    {% include components/scripts.html %}
  </body>
</html>
