---
layout: compress

# Default layout template
# This is the base layout used by all pages
---
<!doctype html>
<html
  lang="{{ site.locale | default: 'en' }}"
  {% comment %} data-theme will be handled by script {% endcomment %}
>
  <head>
    {% include components/head.html %}
  </head>
  <body>
    <!-- Sidebar -->
    {% include components/sidebar/sidebar.html %}

    <!-- Main content area -->
    <div
      id="content"
      class="
        flex flex-col flex-1
        {% if site.appearance.sidebar_position == 'left' %}
          sm:ml-70 sidebar-collapsed:sm:ml-0
        {% else %}
          sm:mr-70 sidebar-collapsed:sm-mr-0
        {% endif %}
      "
    >
      <!-- Header -->
      {% include_cached components/header/header.html %}

      <!-- Content -->
      <main class="flex-1">
        <div class="container pb-20">
          {{ content }}
        </div>
      </main>

      <!-- Footer -->
      {% include_cached components/footer.html %}
    </div>

    <!-- Scripts -->
    {% include components/scripts.html %}
  </body>
</html>
